// ==========================================================================
// #DEFAULT CONFIGURATIONS
// ==========================================================================

// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat

// Font Stacks
$font-family-primary: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'Abril Fatface', serif;


$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultrabold: 900;

// Letter Spacing
$ls-min: .6px;
$ls-mid: 1px;
$ls-max: 4px;

// Transition
$trns-type: cubic-bezier(.36, .11, .59, .84);
$trns-duration: .5s;



// Base Colors
$black: #1D313F;
$white: #fff;
$grey: #8a8c8e;

// Brand Colors
$color-primary: #1D313F;
$color-secondary: #869544;
$color-accent: #ff430f;
$color-accent-dark: #e1380f;

// Color Palette
$color-palettes: (
        grey: (
                xx-light: lighten($grey, 70%),
                x-light: lighten($grey, 60%),
                light: lighten($grey, 30%),
                base: $grey,
                dark: darken($grey, 10%)
        ),
        black: (
                light: lighten($black, 10%),
                base: $black,
                dark: darken($black, 15%)
        )
);


//$ui-colors-grad: (
//        default: $color-secondary-light,
//        success: #55FF55,
//        error: #dc143c,
//        cta: $yellowLight,
//        hollow: $whiteAntiflash
//);

// Grid (All multiples of 24px, the baseline
$g-col-w: 60px; // Grid Column Width
$g-gutter-w: 20px; // Grid Gutter Width
$g-col-c: 12; // Grid Column Count
$g-max-w: 960px; // Maximum Grid Width

// Breakpoints
$breakpoint-sm: 1px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
