<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ page.page_name | capitalize }}</title>

    <style type="text/css">
        {% include critical.css %}
    </style>


    <noscript id="dummy-stylesheet">
        <!-- Dummy -->
        <link rel="stylesheet" href="{{ site.baseurl }}/dummy.css" type="text/css"/>
    </noscript>

    {% include loadcss.html %}

    {% if site.env == "production" %}
        <!-- HTML5Shiv -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
                integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
        <![endif]-->
    {% endif %}




    <!-- Fonts -->
    {% if site.env == "production" %}
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/logo/favicon.ico" type="icon/ico">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/logo/favicon-128.png" sizes="128x128">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/logo/favicon-180.png">
</head>