<!-- LoadCSS -->
<link rel="preload"  href="{{ '/css/styles.min.css' | prepend: site.baseurl }}" as="style" onload="this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ '/css/styles.min.css' | prepend: site.baseurl }}" type="text/css">
</noscript>

<script type="text/javascript">
    // Inline loadCSS
    {% include loadCSS/loadcss.min.js %}
    {% include loadCSS/preload.min.js %}

    // onLoad fallback
    {% include loadCss/onloadcss.min.js %}
    var stylesheet = loadCSS( "{{ '/css/styles.min.css' | prepend: site.baseurl }}" );
    onloadCSS( stylesheet, function() {
        console.log( "Stylesheet has loaded." );
    });
</script>