// ==========================================================================
// #COMPONENT STYLES
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.logo {

  line-height: 0;


  &:hover {
    .logo--cross {
      transform: translateY(-200%);
    }

    .logo--close {
      transform: translateX(-70%);
    }
  }

  &--close,
  &--cross {
    transition: transform .3s $trns-type .2s;
  }

  // Desktop Logo
  @include m(mega) {

    display: none;

    path {
      fill: $color-accent;
    }

    @include media-q('medium') {
      display: block;
      width: 25%;
      max-width: 20rem;
    }
  }

  // Mobile Logo
  @include m(mini) {

    display: block;
    width: 15%;
    max-width: 4rem;

    path {
      fill: $white;
    }

    @include media-q('medium') {
      display: none;
    }
  }
}

.content {
  @include m(persona) {


    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    @include m(header) {
      @extend %align-center;
    }

    @include m(photo) {


      width: 12rem;
      height: 12rem;
      border-radius: 50%;
    }

    @include m(name) {
      padding-top: .6rem;
      font-size: 2rem;

      display: block;
      margin-top: 0;
      color: $black;
    }

    @include m(desc) {
      padding-top: 4px;
      padding-bottom: 8px;

      margin-top: 0;
      color: palette(grey, light);
      line-height: 1;
    }

    @include m(bio) {
      @extend %align-left;
      font-size: 1.4rem;
      color: $black;
    }

    @include m(social) {
      margin-top: .8rem;
      text-align: center;
    }
  }
}

// ==========================================================================
// #NODE
// ==========================================================================
.node {
  @extend %flex-sb;

  flex-direction: column;
  flex-wrap: wrap;

  @include media-q('medium') {
    flex-direction: row;
  }

  @include e(item) {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.2rem;
    max-width: 36rem;
  }
}