
// ==========================================================================
// #ICONS
// ==========================================================================
.icn {
  width: 3.2rem;
  height: 3.2rem;

  @include m(social) {
    @extend .icn;

    svg {
      g,
      path {
        fill: $black;
      }
    }
  }
}

// ==========================================================================
// #EMOJI
// ==========================================================================
.emoji {
  display: inline-block;
  background: center no-repeat;
  background-size: contain;
  vertical-align: middle;
}

