// ==========================================================================
// #PANEL
// ==========================================================================
%panel-default {
  margin-top: 0;
  padding-top: 2.4rem;

  @include media-q(medium) {
    padding-bottom: 2.4rem;
  }
}


%panel-padding {
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include media-q(small) {
    padding-bottom: 2rem;
  }

  @include media-q(medium) {
    padding-top: 8rem;
  }
}

