// ==========================================================================
// #FOOTER
// ==========================================================================
// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.footer {
  padding-bottom: 1rem;
  // #Nav List
  .nav--list {
    font-size: 1.4rem;

    a {
      &,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  @include e(list) {
    display: flex;
    justify-content: center;

    // Footer Item
    @include m(item) {
      margin-left: 4rem;

      &:first-child {
        margin-left: 0;
      }
    }

    + .nav {
      align-items: flex-end;
    }

  }
}