// ==========================================================================
// #HEADER STYLES
// ==========================================================================

// Special Commands: SCSS_LINT
// scss-lint:disable StringQuotes, Comment, FinalNewline, NameFormat, ColorKeyword, ColorVariable, SelectorFormat, PropertySortOrder

.header {
  @extend %color-accent-grad;

  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 .4rem .2rem rgba(0, 0, 0, .1);

  @include media-q('medium') {
    background: $white;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}