// ==========================================================================
// #MAIN STYLES
// ==========================================================================

.main {
  @include e(content) {
    padding-top: 4rem;
    p {
      font-size: 1.8rem;
    }
  }
}

.project {
  // Project List
  @include e(list) {
    @extend %panel-padding;
    text-align: center;

    @include media-q(medium) {
      display: flex;
      flex-direction: row;
    }
  }

  // Project Item
  @include m(item) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8rem;

    &:hover > a {
      color: $color-accent;
    }

    @include media-q(medium) {
      width: 40%;
      max-width: 60rem;
    }
  }

  // Project Preview
  @include m(preview) {
    margin: 0;
  }
}

.row {
  flex: 1;
}